<table class="table-bordered table-condensed table-hover" width="100%" >
  <tr ng-repeat-start="row in CardTab.rows" >
    <td width="30%" ng-bind="row.PropEntRowValue"></td>
    <td width="70%" ng-bind="row.PropValue" ></td>
    <td ng-include = "'prtn/CardTab/TemplPrtnBtn.html'"></td>
  </tr>
              
<!-- EDIT Form -->  

  <tr ng-repeat-end="row in CardTab.rows" ng-show="row.showfiles || row.isEdit ">
    <td  colspan="3">
      <div ng-show = "row.isEdit" class="container-fluid" > 
        <div id="defaultValidationClassesPart">
          <a href ng-click="CardRowClose(CardTab, row)" class="close pull-top">x</a>
          <form name="PropValueForm" ng-submit="CardRowSubmit(PropValueForm.$valid, CardTab, row)"  novalidate>
            <div class="form-group" ng-class="{ 'has-error' : PropValueForm.tmpPropValue.$invalid && !PropValueForm.tmpPropValue.$pristine }">
              <table width = "100%">
              <tr>
              <td width = "20%"><label ng-bind="row.PropEntRowValue"></label> 
              <td width = "80%"><input type="text" 
                  name="tmpPropValue" 
                  class="form-control" 
                  ng-model="CardTab.tmpRow.PropValue"  
                  required
                  ng-minlength="5" 
                  ng-maxlength="100" 
                  ng-pattern="Pattern_Text" >
              </td>
              <td><button ng-hide="PropValueForm.tmpPropValue.$valid" class="btn btn-sm btn-danger"  tooltip-placement="left" tooltip={{getItemMsgError(PropValueForm.tmpPropValue)}}>Ошибки</button>                  
              </td>              
              </tr>              
              </table>
            </div>
            <btn-row-submit ng-show="PropValueForm.$valid && !PropValueForm.$pristine"></btn-row-submit>
          </form>
        </div>
      </div>
    </td>
  </tr>

</table>